<nav>
	<!-- routerLink specifies what URL to route to -->
  <a routerLink="/">
    <img src="media/04.png" class="icon" />
  </a>
  <a routerLink="/Movies">
    <img src="media/03.png" class="icon" />
  </a>
  <a routerLink="/Series">
    <img src="media/02.png" class="icon" />
  </a>
</nav>
<section>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
  </header>
  <!-- NOTE:
  	First, when a user logs in the home page, the index.html is rendered, which in turn renders this HTML file.
  	Meanwhile, the root URL is redirected to /all, which again matches /:medium and gets routed to MediaItemListComponent.
  	That component is going to replace this router-outlet -->
  <router-outlet></router-outlet>
</section>